.dark {
    background-color: rgba(103, 101, 101, 0.953);
    width: 12.5%;
    height: 12.5%;
}
.light {
    background-color: rgb(245, 244, 244);
    width: 12.5%;
    height: 12.5%;
}
.chessboard {
    padding-top: 5vh;
    margin-left: auto;
    margin-right: auto;
    width: 75vh;
    height: 75vh;
}
.piece {
    /* yes xxx-large actually exists, despite VS Code not knowing what it is*/
    font-size: xxx-large;
    text-align: center;
}
.rook {
    /* yes xxx-large actually exists, despite VS Code not knowing what it is*/
    font-size: xxx-large;
    text-align: center;
}
.knight {
    /* yes xxx-large actually exists, despite VS Code not knowing what it is*/
    font-size: xxx-large;
    text-align: center;
}
.bishop {
    /* yes xxx-large actually exists, despite VS Code not knowing what it is*/
    font-size: xxx-large;
    text-align: center;
}
.king {
    /* yes xxx-large actually exists, despite VS Code not knowing what it is*/
    font-size: xxx-large;
    text-align: center;
}
.queen {
    /* yes xxx-large actually exists, despite VS Code not knowing what it is*/
    font-size: xxx-large;
    text-align: center;
}
.pawn {
    /* yes xxx-large actually exists, despite VS Code not knowing what it is*/
    font-size: xxx-large;
    text-align: center;
}